services:
    api:
        container_name: api
        command: sh
        tty: true
        stdin_open: true
        build:
            context: .
            dockerfile: Dockerfile
        ports:
            - "8000:8000"
        volumes:
            - .:/var/www/html
            # To exclude the binding of the vendor, I recreate a volume without binding of them, replacing the previous binding
            - /var/www/html/vendor
        depends_on:
            db:
                condition: service_healthy
                restart: true

    db:
        container_name: db
        image: postgres:18-alpine3.22
        environment:
            - POSTGRES_DB=${DB_DATABASE}
            - POSTGRES_USER=${DB_USERNAME}
            - POSTGRES_PASSWORD=${DB_PASSWORD}
        ports:
            - "${DB_PORT}:5432"
        volumes:
            - db_data:/var/lib/postgresql/data
        healthcheck:
            test: ["CMD-SHELL", "pg_isready -U $${POSTGRES_USER} -d $${POSTGRES_DB}"]
            interval: 10s
            timeout: 5s
            retries: 5


volumes:
    db_data:

